.next/
node_modules/
/npm-debug.log
.env
.DS_Store
/.env.production### https://raw.github.com/github/gitignore/df6a05e29979079fcb5d602b4dc260f34383eb92/Global/VisualStudioCode.gitignore

.vscode/*
package-lock.json
